h2 {
    margin-bottom: 0 !important;
}

input {
    font-size: small;
    line-height: normal;
    // Это я сделал чтобы деражть в узде сумасшедший bootstrap
}

.top_head_cart {
    background: #f8f3f4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 96px;
    padding-bottom: 128px;
    gap: 128px;

    &__items {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__order {
        display: flex;
        flex-direction: column;
        gap: 57px;
        padding-top: 17px;
        min-width: 360px;
    }
}

.product {
    display: flex;
    gap: 31px;
    box-shadow: 17px 19px 24px 0 rgb(0 0 0 / 13%);

    &__image {
        padding-top: 6px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 42px;
        padding-right: 22px;
        padding-top: 22px;
    }

    &__description-box {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__details {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #575757;

        &_price {
            color: $colorSelectSite;
        }

        &_gray-colour {
            color: $grayText;
        }

        &_quantity {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #656565;
            border: 1px solid #EAEAEA;
            padding: 1px 17px 2px 16px;
            max-width: 50px;
        }
    }

    &__quantity-box {
        display: flex;
        gap: 24px;
    }
}

.title-box {
    display: flex;
    align-items: flex-start;
    gap: 57px;

    &__title {
        &_product {
            max-width: 210px;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #222222;
        }
    }

    &__remove {
        path:hover {
            fill: red;
            cursor: pointer;
        }
    }
}

.shipping-box {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__title {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
    }

    &__get-quote {
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
        padding-top: 11px;
        padding-bottom: 11px;
        border: 1px solid #A4A4A4;
        background: #FFFFFF;
        max-width: 100px;
        margin-top: 3px;
        transition-duration: 0.3s;

        &:hover {
            background-color: $colorSelectSite;
            color: $whiteColor;
            border-color: $colorSelectSite;
        }
    }
}

.payment-box {
    background: #F5F3F3;
    padding: 40px 44px;
    display: flex;
    flex-direction: column;
    max-height: 214px;

    &__total {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-bottom: 21px;

        &_sub {
            display: flex;
            gap: 20px;
            justify-content: flex-end;
            margin-right: -10px;
        }

        &_grand {
            display: flex;
            gap: 20px;
            justify-content: flex-end;
            margin-right: -7px;
        }

        &_small-text {
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 13px;
            color: #4A4A4A;
        }

        &_big-text {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
        }
    }
}

.amount {
    font-weight: 700;
    color: $colorSelectSite;
}

#input-country {
    padding-top: 13px;
    padding-bottom: 16px;
    padding-left: 17px;
    border: 1px solid #A4A4A4;

    &::placeholder {
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
    }
}

#input-state {
    padding-top: 13px;
    padding-bottom: 16px;
    padding-left: 17px;
    border: 1px solid #A4A4A4;

    &::placeholder {
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #222222;
    }
}

#input-postcode {
    padding-top: 13px;
    padding-bottom: 16px;
    padding-left: 17px;
    border: 1px solid #A4A4A4;

    &::placeholder {
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #222222;
    }
}

.button-box {
    padding-top: 17px;
    border-top: 1px solid #E2E2E2;

    &__button {
        min-width: 273px;
        min-height: 50px;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        background-color: $colorSelectSite;
        border: none;
    }
}

.buttons-box {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;

    &__button {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        border: 1px solid #A4A4A4;
        background: #FFFFFF;
        padding: 17px 40px;
        transition-duration: 0.3s;

        &:hover {
            background-color: $colorSelectSite;
            color: $whiteColor;
            border-color: $colorSelectSite;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .cart {
        flex-direction: column;
        align-items: stretch;
        padding-top: 60px;
        gap: 64px;

        &__order {
            flex-direction: row;
            gap: 15px;
            padding-top: 0;
            justify-content: space-between;
            align-items: center;
        }
    }

    .product {
        &__info {
            min-width: 443px;
        }
    }

    .title-box {
        justify-content: space-between;
        gap: 0;
    }

    .buttons-box {
        justify-content: center;
        padding-top: 22px;
        gap: 48px;
    }

    .shipping-box {
        min-width: 360px;
    }
}

@media(min-width: 320px) and (max-width: 767px) {
    .top_head_cart {
        padding-top: 50px;
        padding-bottom: 70px;
        justify-content: center;
    }

    .cart {
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 96px;
        gap: 48px;

        &__items {
            gap: 32px;
        }

        &__order {
            padding-top: 0;
            width: 95vw;
            min-width: 10px;
            gap: 48px;
        }
    }

    .product {
        gap: 17px;
        width: 95vw;
        &__image {
            padding-top: 0;
            width: 38vw;
            height: 30vh;
        }

        &__info {
            gap: 17px;
            padding-right: 12px;
            padding-top: 13px;
            width: -webkit-fill-available;
        }

        &__details {
            font-size: 14px;
            line-height: 17px;

            &_quantity {
                text-align: center;
                padding: 0;
                width: 25px;
                height: 17px;
                font-size: 10px;
line-height: 12px;
            }
        }

        &__quantity-box {
            gap: 15px;
        }
    }

    .title-box {
        gap: 0;
        justify-content: space-between;

        &__title {
            &_product {
                font-size: 16px;
                line-height: 19px;
                max-width: 140px;
            }
        }

        &__remove {
            width: 10px;
            height: 10px;
        }
    }
    .buttons-box {
        padding-top: 0;
        &__button {
            font-size: 12px;
line-height: 14px;
padding: 9px 10px;
        }
    }
    .shipping-box {
        &__title {
            padding-left: 2px;
        }
    }
    .button-box {
        &__button {
            min-width: 216px;
        }
    }

}