.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #EAEAEA;
    background: #F7F7F7;
    padding-top: 11px;

    &__pagination {
        padding: 8px 8px;
        border: none;

        &:hover .main__pagination_center .pagination-search path {
            fill: $colorSelectSite;
        }

        &_center {
            display: flex;
            justify-content: center;
            min-width: 31px;
            min-height: 31px;
            align-items: center;
        }
    }
}

.about-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-top: 64px;
    padding-bottom: 64px;
    margin-bottom: 128px;
    border: 1px solid #EAEAEA;

    &__heading {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
    }

    &__line {
        border: 1.5px solid $colorSelectSite;
        width: 63px;
        &_under-price {
            border: 1px solid #EAEAEA;
            width: 641px;
            margin-top: 52px;
            margin-bottom: 52px;
        }
    }

    &__title {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4D4D4D;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #5E5E5E;
        width: 555px;
        padding-top: 36px;
        padding-bottom: 32px;
    }

    &__price {
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #EF5B70;
    }

    &__sort {
        display: flex;
        justify-content: center;
        gap: 22px;
        padding-bottom: 36px;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 23px;
        padding: 15px 57px 9px 24px;
        border: 1px solid $colorSelectSite;
        background-color: white;
        @include text_style_regular_16fz_19lh($colorSelectSite);
        transition: 0.5s;
        &:hover {
            background-color: $colorSelectSite;
            color: white;
            svg path {
                fill: white;
            }
        }
    }
}

.products_padding-big {
    padding-bottom: 128px;
    @include flex__column(0);
    align-items: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .about-product {
        margin-top: 0;
    }
}

@media(min-width: 320px) and (max-width: 767px) {
    .main {
        padding-top: 85px;
        padding-bottom: 85px;
        &__product {
            max-width: 281px;
        }
    }
    .about-product {
        margin-bottom: 64px;
        &__text {
            width: 326px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &__line {
            &_under-price {
                margin-top: 20px;
                margin-bottom: 36px;
                width: 47vw;
            }
        }
        &__sort {
            padding-bottom: 52px;
        }
    }
}