h2 {
  margin-bottom: 0 !important;
}

input {
  font-size: small;
  line-height: normal;
}

.cart {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 96px;
  padding-bottom: 128px;
  gap: 128px;
}
.cart__items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart__order {
  display: flex;
  flex-direction: column;
  gap: 57px;
  padding-top: 17px;
  min-width: 360px;
}

.product {
  display: flex;
  gap: 31px;
  box-shadow: 17px 19px 24px 0 rgba(0, 0, 0, 0.13);
}
.product__image {
  padding-top: 6px;
}
.product__info {
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding-right: 22px;
  padding-top: 22px;
}
.product__description-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.product__details {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}
.product__details_price {
  color: #F16D7F;
}
.product__details_gray-colour {
  color: #6F6E6E;
}
.product__details_quantity {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  border: 1px solid #EAEAEA;
  padding: 1px 17px 2px 16px;
  max-width: 50px;
}
.product__quantity-box {
  display: flex;
  gap: 24px;
}

.title-box {
  display: flex;
  align-items: flex-start;
  gap: 57px;
}
.title-box__title_product {
  max-width: 210px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}
.title-box__remove path:hover {
  fill: red;
  cursor: pointer;
}

.shipping-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.shipping-box__title {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.shipping-box__get-quote {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid #A4A4A4;
  background: #FFFFFF;
  max-width: 100px;
  margin-top: 3px;
  transition-duration: 0.3s;
}
.shipping-box__get-quote:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
  border-color: #F16D7F;
}

.payment-box {
  background: #F5F3F3;
  padding: 40px 44px;
  display: flex;
  flex-direction: column;
  max-height: 214px;
}
.payment-box__total {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 21px;
}
.payment-box__total_sub {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-right: -10px;
}
.payment-box__total_grand {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-right: -7px;
}
.payment-box__total_small-text {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}
.payment-box__total_big-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.amount {
  font-weight: 700;
  color: #F16D7F;
}

#input-country {
  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 17px;
  border: 1px solid #A4A4A4;
}
#input-country::-moz-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}
#input-country::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

#input-state {
  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 17px;
  border: 1px solid #A4A4A4;
}
#input-state::-moz-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}
#input-state::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

#input-postcode {
  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 17px;
  border: 1px solid #A4A4A4;
}
#input-postcode::-moz-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}
#input-postcode::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

.button-box {
  padding-top: 17px;
  border-top: 1px solid #E2E2E2;
}
.button-box__button {
  min-width: 273px;
  min-height: 50px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #F16D7F;
  border: none;
}

.buttons-box {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}
.buttons-box__button {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 1px solid #A4A4A4;
  background: #FFFFFF;
  padding: 17px 40px;
  transition-duration: 0.3s;
}
.buttons-box__button:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
  border-color: #F16D7F;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cart {
    flex-direction: column;
    align-items: stretch;
    padding-top: 60px;
    gap: 64px;
  }
  .cart__order {
    flex-direction: row;
    gap: 15px;
    padding-top: 0;
    justify-content: space-between;
    align-items: center;
  }
  .product__info {
    min-width: 443px;
  }
  .title-box {
    justify-content: space-between;
    gap: 0;
  }
  .buttons-box {
    justify-content: center;
    padding-top: 22px;
    gap: 48px;
  }
  .shipping-box {
    min-width: 360px;
  }
}
.content {
  display: flex;
  padding-top: 64px;
  padding-bottom: 96px;
  gap: 128px;
}

.registration {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.registration__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.registration__form_title {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.registration__form_input {
  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 17px;
}
.registration__form_clue {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}
.registration__sex {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.registration__button {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 8px;
  max-width: 167px;
  min-height: 50px;
  background-color: #F16D7F;
  justify-content: center;
  align-items: center;
  border: none;
  transition: 1s;
}
.registration__button:hover {
  background-color: #fff;
  border: 1px solid #F16D7F;
}
.registration__button:hover .registration__button_text {
  color: #F16D7F;
}
.registration__button:hover svg path {
  fill: #F16D7F;
}
.registration__button_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.benefits-box {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.benefits-box__title {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.benefits-box__text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.benefits-box__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.benefits-box__list_example {
  padding-left: 22px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.benefits-box__list_specific {
  list-style-image: url(img/check_mark.svg);
}

.sex-text {
  margin-right: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content {
    padding-top: 40px;
    gap: 16px;
  }
  .benefits-box__title {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 10px;
  }
  .benefits-box__text {
    font-size: 16px;
    line-height: 19px;
  }
  .benefits-box__list_example {
    font-size: 16px;
    line-height: 19px;
  }
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #EAEAEA;
  background: #F7F7F7;
  padding-top: 11px;
}
.main__pagination {
  padding: 8px 8px;
  border: none;
}
.main__pagination:hover .main__pagination_center .pagination-search path {
  fill: #F16D7F;
}
.main__pagination_center {
  display: flex;
  justify-content: center;
  min-width: 31px;
  min-height: 31px;
  align-items: center;
}

.about-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-top: 64px;
  padding-bottom: 64px;
  margin-bottom: 128px;
  border: 1px solid #EAEAEA;
}
.about-product__heading {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}
.about-product__line {
  border: 1.5px solid #F16D7F;
  width: 63px;
}
.about-product__line_under-price {
  border: 1px solid #EAEAEA;
  width: 641px;
  margin-top: 52px;
  margin-bottom: 52px;
}
.about-product__title {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}
.about-product__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  width: 555px;
  padding-top: 36px;
  padding-bottom: 32px;
}
.about-product__price {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}
.about-product__sort {
  display: flex;
  justify-content: center;
  gap: 22px;
  padding-bottom: 36px;
}
.about-product__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  padding: 15px 57px 9px 24px;
  border: 1px solid #F16D7F;
  background-color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  transition: 0.5s;
}
.about-product__button:hover {
  background-color: #F16D7F;
  color: white;
}
.about-product__button:hover svg path {
  fill: white;
}

.products_padding-big {
  padding-bottom: 128px;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about-product {
    margin-top: 0;
  }
}
.top_head {
  background: #f8f3f4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top_head__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  box-sizing: border-box;
}

.breadcrumbs {
  padding-left: 8px;
  padding-top: 8px;
}
.breadcrumbs__ul {
  list-style-type: none;
  display: flex;
}
.breadcrumbs__li:not(:last-child):after {
  content: "/";
  padding-right: 8px;
  padding-left: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumbs__li:last-child .breadcrumbs__link {
  font-weight: 700;
  color: #F16D7F;
}
.breadcrumbs__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.filter-sort {
  height: 132px;
  padding-top: 39px;
  box-sizing: border-box;
  display: flex;
  gap: 15px;
}

.filter {
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
.filter__content {
  background-color: #fff;
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
.filter[open] {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: baseline;
  gap: 11px;
  padding-left: 16px;
}
.filter__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.filter__item {
  margin-top: 16px;
}
.filter__head {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.filter__link:hover {
  color: #F16D7F;
}
.filter__item[open] .filter__head {
  color: #F16D7F;
}

.sort {
  padding-top: 12px;
  display: flex;
  gap: 18px;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6F6E6E;
}
.sort__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 9px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 22px;
  z-index: 10;
}

.navigation_center {
  display: flex;
  justify-content: center;
}

.pagination {
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 96px;
  border: 1px solid #EBEBEB;
}

.page-link {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  border: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .filter-sort {
    padding-top: 24px;
    justify-content: space-between;
    padding-bottom: 40px;
    gap: 0;
  }
  .filter__summary {
    padding-left: 0;
  }
  .goods__item_hide {
    display: none;
  }
  .pagination {
    margin-top: 40px;
    margin-bottom: 63px;
  }
}
* {
  padding: 0;
  margin: 0;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

body {
  font-family: "latoregular";
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0 !important;
}

hr {
  margin: 0;
}

h1,
h3, ul {
  margin-bottom: 0px;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}
.center__margin {
  margin-left: calc(50% - 570px);
  margin-right: calc(50% - 570px);
}

.box-content {
  overflow: hidden;
}

.header {
  position: relative;
  background-color: #222;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header__left {
  display: flex;
  gap: 41px;
  align-items: center;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 25px;
}
.header__link {
  position: relative;
}
.header__icon {
  margin-right: 17px;
}

#burger {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}
#burger:checked ~ .nav {
  right: -232px;
}

.nav {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 16px 17px 32px 32px;
  box-sizing: border-box;
  position: absolute;
  top: 78px;
  right: 0;
  transition: right 0.3s;
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 1;
}
.nav__top {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.nav__criss-cross {
  display: flex;
  justify-content: flex-end;
}
.nav__menu {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.nav__main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav__section[open] .nav__title {
  color: #F16D7F;
}
.nav__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.nav__section-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-top: 12px;
  padding-left: 21.5px;
}
.nav__item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.nav__item:hover {
  color: #F16D7F;
}

.new__item::before {
  content: "5";
  position: absolute;
  top: -7px;
  left: 27px;
  background-color: red;
  color: white;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-content {
  display: flex;
  background: #F1E4E6;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}
.top-content__image {
  width: 50%;
  background: rgba(113, 103, 105, 0.08);
}

.title-part {
  padding-left: 64px;
}

.slogan {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-top: 48%;
}

.title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}
.subtitle__pink {
  color: #F16D7F;
}

.offer {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 64px;
  padding-bottom: 96px;
}
.offer__item {
  position: relative;
  transition: 1s;
}
.offer__item_long {
  grid-column: 1/-1;
}
.offer__img {
  max-width: 100%;
}
.offer__about {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.offer__sale {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.offer__subtitle {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}
.offer__item:hover {
  transform: scale(1.1);
}

.products {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}
.products__box {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-bottom: 48px;
}
.products__title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}
.products__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.goods {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
}
.goods__item {
  background: #F8F8F8;
  position: relative;
}
.goods__look {
  transition: 0.5s;
}
.goods__look:hover {
  filter: brightness(50%);
}
.goods__label {
  position: absolute;
  top: 30%;
  left: 30%;
  max-width: 147px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  border: solid 1px;
  border-color: white;
  padding: 4px 14px;
  display: none;
}
.goods__label:hover {
  display: flex;
}
.goods__description {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;
}
.goods__item:hover .goods__label {
  display: flex;
}

.text-add {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.name__good {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.about__good {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.price {
  margin-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.open__more {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding: 16px 39px 13px 39px;
  background-color: white;
  border-color: #F16D7F;
  margin-top: 48px;
  transition: 0.5s;
}
.open__more:hover {
  background-color: #F16D7F;
  color: white;
}

.footer {
  background: #222224;
}
.footer__center {
  padding-left: 230px;
  padding-right: 230px;
}

.benefits {
  display: flex;
  align-items: center;
  padding-top: 104px;
  padding-bottom: 104px;
  gap: 30px;
}
.benefits__item {
  display: flex;
  flex-direction: column;
  gap: 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.benefits__name {
  margin-bottom: 16px;
  margin-top: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}
.benefits__about {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.contact-us {
  background-image: url(img/background_light.png);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contact-us__quote-box {
  margin-top: 97px;
  margin-bottom: 126px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-width: 317px;
}
.contact-us__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}
.contact-us__text_subscribe {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}
.contact-us__subscribe-box {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.contact-us__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}
.contact-us__area {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us__input {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  display: flex;
  align-items: center;
  opacity: 0.67;
  min-height: 46px;
  background: #E1E1E1;
  padding-left: 22px;
  border: none;
}
.contact-us__button {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background: #F16D7F;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 50px;
  padding-left: 7px;
  padding-right: 7px;
  border: none;
}

.ending {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ending__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.ending__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.ending__network {
  background-color: white;
  min-width: 32px;
  min-height: 32px;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}
.ending__network:hover {
  background-color: #F16D7F;
  color: white;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .header {
    padding: 18px 32px;
  }
  .top-content {
    align-items: center;
  }
  .title-part {
    padding-left: 40px;
  }
  .slogan {
    margin-top: 0%;
  }
  .title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
    color: #222222;
  }
  .subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
  }
  .offer {
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 155px;
  }
  .products {
    padding-bottom: 64px;
  }
  .products__box {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-bottom: 72px;
  }
  .goods {
    grid-template-columns: repeat(2, 360px);
    gap: 16px;
  }
  .open__more {
    margin-top: 32px;
  }
  .list__benefits {
    padding-bottom: 64px;
    padding-top: 48px;
    gap: 48px;
    flex-direction: column;
  }
  .footer__center {
    padding-left: 204px;
    padding-right: 204px;
  }
  .benefits {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    padding-bottom: 64px;
    gap: 48px;
  }
  .contact-us {
    flex-direction: column;
  }
  .contact-us__quote-box {
    margin-top: 64px;
    margin-bottom: 48px;
  }
  .contact-us__area {
    margin-top: 27px;
    padding-bottom: 140px;
  }
  .contact-us__input {
    min-width: 250px;
  }
  .contact-us__button {
    min-width: 95px;
  }
  .ending {
    padding-left: 32px;
    padding-right: 32px;
  }
}/*# sourceMappingURL=style.css.map */