@import 'vars';
@import 'mixins';
@import 'cart-style';
@import 'registration';
@import 'product';
@import 'catalog-style';

* {
    padding: 0;
    margin: 0;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

body {
    font-family: 'latoregular';
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0 !important;
}

hr {
    margin: 0;
}

h1,
h3,
ul {
    margin-bottom: 0px;
}

.center {
    padding-left: calc(50% - $widthSite/2);
    padding-right: calc(50% - $widthSite/2);

    &__margin {
        margin-left: calc(50% - $widthSite/2);
        margin-right: calc(50% - $widthSite/2);
    }
}

.box-content {
    overflow: hidden;
}

.header {
    position: relative;
    background-color: $backBlock;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;

    &__left {
        display: flex;
        gap: 41px;
        align-items: center;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    &__link {
        position: relative;
    }

    &__icon {
        margin-right: 17px;
    }
}

#burger-button {
    position: absolute;
    left: -999999px;
    visibility: hidden;

    &:checked~.nav {
        right: -$widthBurgerMenu;
    }
}

#criss-cross {
    position: absolute;
    left: -999999px;
    visibility: hidden;
    
    // &:checked~.nav{
    //     right: -$widthBurgerMenu;
    // }
}

.nav {
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 232px;
    padding: 16px 17px 32px 32px;
    box-sizing: border-box;
    position: absolute;
    top: 78px;
    right: 0;
    transition: right .3s;
    @include flex__column(24px);
    z-index: 1;

    &__top {
        @include flex__column(9px);
    }

    &__criss-cross {
        display: flex;
        justify-content: flex-end;
    }

    &__menu {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: $colortext;
    }

    &__main {
        @include flex__column(20px);
    }

    &__section[open] .nav__title {
        color: $colorSelectSite;
    }

    &__title {
        @include text_style_regular_14fz_17lh($colortext);
    }

    &__section-box {
        @include flex__column(11px);
        padding-top: 12px;
        padding-left: 21.5px;
    }

    &__item {
        @include text_style_regular_14fz_17lh($grayText);

        &:hover {
            color: $colorSelectSite;
        }
    }
}

.new__item::before {
    content: '5';
    position: absolute;
    top: -7px;
    left: 27px;
    background-color: red;
    color: white;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-content {
    display: flex;
    background: #F1E4E6;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);

    &__image {
        width: 50%;
        background: rgba(113, 103, 105, 0.08);
    }
}

.title-part {
    padding-left: 64px;
}

.slogan {
    border-left: 12px solid $colorSelectSite;
    padding-left: 16px;
    margin-top: 48%;
}

.title {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;

    &__pink {
        color: $colorSelectSite;
    }
}

.offer {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 64px;
    padding-bottom: 96px;

    &__item {
        position: relative;
        transition: 1s;

        &_long {
            grid-column: 1 / -1;
        }
    }

    &__img {
        max-width: 100%;
    }

    &__about {
        @include flex__column(0);
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }

    &__sale {
        text-align: center;
        @include text_style_regular_16fz_19lh($whiteColor);
    }

    &__subtitle {
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: $colorSelectSite;
    }

    &__item:hover {
        transform: scale(1.1);
    }
}

.products {
    padding-bottom: 60px;
    @include flex__column(0);
    align-items: center;

    &__box {
        text-align: center;
        @include flex__column(6px);
        padding-bottom: 48px;
    }

    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: #222222;
    }

    &__description {
        @include text_style_regular_14fz_17lh(#9F9F9F);
    }
}

.goods {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;

    &__item {
        background: #F8F8F8;
        position: relative;
    }

    &__look {
        transition: 0.5s;

        &:hover {
            filter: brightness(50%)
        }
    }

    &__label {
        position: absolute;
        top: 30%;
        left: 30%;
        max-width: 147px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 11px;
        border: solid 1px;
        border-color: white;
        padding: 4px 14px;
        display: none;

        &:hover {
            display: flex;
        }
    }

    &__description {
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 16px;
    }

    &__item:hover .goods__label {
        display: flex;
    }
}

.text-add {
    @include text_style_regular_14fz_17lh($whiteColor);
}

.name__good {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.about__good {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.price {
    margin-top: 16px;
    @include text_style_regular_16fz_19lh($colorSelectSite);
}

.open__more {
    @include text_style_regular_16fz_19lh($colorSelectSite);
    padding: 16px 39px 13px 39px;
    background-color: white;
    border-color: $colorSelectSite;
    margin-top: 48px;
    transition: 0.5s;

    &:hover {
        background-color: $colorSelectSite;
        color: white;
    }
}

.footer {
    background: #222224;

    &__center {
        padding-left: 230px;
        padding-right: 230px;
    }
}

.benefits {
    display: flex;
    align-items: center;
    padding-top: 104px;
    padding-bottom: 104px;
    gap: 30px;

    &__item {
        @include flex__column(0);
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__name {
        margin-bottom: 16px;
        margin-top: 28px;
        font-style: normal;
        font-weight: 400;
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
    }

    &__about {
        font-style: normal;
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
    }
}

.contact-us {
    background-image: url(img/background_light.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;

    &__quote-box {
        margin-top: 97px;
        margin-bottom: 126px;
        @include flex__column(30px);
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        max-width: 317px;
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #222224;

        &_subscribe {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 167.2%;
            text-align: center;
            color: #222224;
        }
    }

    &__subscribe-box {
        @include flex__column(0);
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 167.2%;
        text-align: center;
        color: #222224;
    }

    &__area {
        margin-top: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__input {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        @include text_style_regular_14fz_17lh(#222224);
        display: flex;
        align-items: center;
        opacity: 0.67;
        min-height: 46px;
        background: #E1E1E1;
        padding-left: 22px;
        border: none;
    }

    &__button {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        background: $colorSelectSite;
        @include text_style_regular_14fz_17lh($whiteColor);
        display: flex;
        align-items: center;
        text-align: center;
        min-height: 50px;
        padding-left: 7px;
        padding-right: 7px;
        border: none;
    }
}

.ending {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__copyright {
        @include text_style_regular_16fz_19lh(#FBFBFB);
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    &__network {
        background-color: white;
        min-width: 32px;
        min-height: 32px;
        display: flex;
        justify-content: center;
        transition: 0.3s;

        &:hover {
            background-color: $colorSelectSite;
            color: white;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }

    .top-content {
        align-items: center;
    }

    .title-part {
        padding-left: 40px;
    }

    .slogan {
        margin-top: 0%;
    }

    .title {
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 53px;
        color: #222222;
    }

    .subtitle {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #222222;
    }

    .offer {
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 155px;
    }

    .products {
        padding-bottom: 64px;

        &__box {
            @include flex__column(3px);
            padding-bottom: 72px;
        }
    }

    .goods {
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
    }

    .open__more {
        margin-top: 32px;
    }

    .list__benefits {
        padding-bottom: 64px;
        padding-top: 48px;
        gap: 48px;
        flex-direction: column;
    }

    .footer {
        &__center {
            padding-left: 204px;
            padding-right: 204px;
        }
    }

    .benefits {
        display: flex;
        flex-direction: column;
        padding-top: 48px;
        padding-bottom: 64px;
        gap: 48px;
    }

    .contact-us {
        flex-direction: column;

        &__quote-box {
            margin-top: 64px;
            margin-bottom: 48px;
        }

        &__area {
            margin-top: 27px;
            padding-bottom: 140px;
        }

        &__input {
            min-width: 250px;
        }

        &__button {
            min-width: 95px;
        }
    }

    .ending {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media(min-width: 320px) and (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;

        &__mobile {
            padding-left: 8px;
            padding-right: 8px;
        }

        &__product {
            margin-left: 0;
margin-right: 0;
padding-left: 20px;
padding-right: 20px;
        }
    }

    .header {
        padding-top: 18px;
        padding-bottom: 18px;

        &__icon {
            display: none;
        }

        &__link {
            display: none;
        }
    }

    .nav {
        top: 75px;
    }

    .top-content {
        padding-left: 15vw;
        padding-right: 15vw;
        justify-content: center;

        &__image {
            display: none;
        }
    }

    .title-part {
        padding-left: 0;
    }

    .slogan {
        margin-bottom: 148px;
        margin-top: 148px;
        padding-top: 6px;
    }

    .title {
        font-size: 32px;
        line-height: 28px;
    }

    .subtitle {
        font-size: 14px;
        line-height: 24px;
    }

    .offer {
        display: flex;
        gap: 32px;
        flex-direction: column;
        padding-bottom: 64px;

        &__item {
            display: flex;
            justify-content: center;
        }

        &__item:hover {
            transform: scale(1.05);
        }

        &__img {
            min-height: 111px;
            width: -webkit-fill-available;
        }
    }

    .products {
        padding-bottom: 96px;

        &__box {
            gap: 3px;
            padding-bottom: 64px;
        }
    }

    .goods {
        display: flex;
        gap: 16px;
        flex-direction: column;
        align-items: center;

        &__look {
            max-width: 100vw;
        }

        &__item {
            max-width: min-content;
            &_hide {
                display: none;
            }
        }
    }

    .open__more {
        margin-top: 40px;
    }

    .benefits {
        padding-top: 48px;
        padding-bottom: 80px;
        gap: 45px;
        flex-direction: column;

        &__name {
            text-align: center;
        }
    }

    .footer {
        &__center {
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    .contact-us {
        flex-direction: column;
        background-position-x: -445px;
        
        &__quote-box {
            margin-top: 64px;
            margin-bottom: 59px;
        }

        &__text {
            font-size: 18px;
            line-height: 22px;

            &_subscribe {
                font-size: 14px;
                line-height: 153.2%;
            }
        }

        &__title {
            font-size: 24px;
            line-height: 153.2%;
        }

        &__subscribe-box {
            padding-bottom: 110px;
        }

        &__area {
            margin-top: 22px;
        }

        &__input {
            min-width: 200px;
        }

        &__button {
            min-width: 88px;
        }
    }

    .ending {
        flex-direction: column-reverse;
        padding-bottom: 24px;

        &__social {
            padding-top: 43px;
            padding-bottom: 25px;
        }
    }
}